.item----- {
  -webkit-box-flex: 1 200px;
  -moz-box-flex: 1 200px;
  -webkit-flex: 1 200px;
  -ms-flex: 1 200px;
  flex: 1 200px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

body {
  font-family: robotoregular;
  line-height: 28px;
  color: #505050;
  font-size: 12px;
  background: #f4f8fb; }

img {
  max-width: 100%;
  height: auto; }

img.wide {
  width: 100%; }

a, a:focus, a:hover {
  outline: 0 !important;
  text-decoration: none; }

figure {
  margin: 0; }

h1, h2, h3 {
  margin: 0;
  line-height: normal;
  font-size: 16px;
  font-family: robotoregular; }

.bold {
  font-weight: 600; }

.fa.pull-right {
  margin-top: 2px; }

.block {
  display: block; }

.t1 {
  text-align: left; }

.t2 {
  text-align: center; }

.t3 {
  text-align: right; }

.img-circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }

.btn, button, .btn, .btn-group.open .dropdown-toggle, .cell, .resource, a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
  outline: 0 !important; }

.flex-scroll,
.app-grow {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow: hidden;
  overflow-y: auto; }

.row-customize {
  margin-left: -10px;
  margin-right: -10px; }
  .row-customize .md-customize {
    padding-left: 10px;
    padding-right: 10px; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.hide {
  display: none; }

::-webkit-scrollbar-track {
  background-color: inherit; }

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: inherit; }

::-webkit-scrollbar-thumb {
  background-color: #494949; }

.btn {
  font-size: 12px;
  padding: 10px 16px;
  font-size: 14px;
  box-shadow: none !important;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn.blue:not(.outline) {
    color: #fff;
    background: #41a3be;
    border-color: #41a3be; }
    .btn.blue:not(.outline).active, .btn.blue:not(.outline):hover {
      color: #fff;
      background: #3493ad;
      border-color: #3493ad; }
  .btn.blue.outline {
    color: #05496e;
    border-color: #05496e; }
    .btn.blue.outline:hover {
      color: #fff;
      border-color: #05496e;
      background: #05496e; }

.more {
  position: relative; }
  .more:before {
    width: 100%;
    height: 1px;
    content: "";
    bottom: -1px;
    left: 0;
    right: 0;
    margin: auto;
    background: #0669a0;
    position: absolute;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .more:hover:before {
    width: 0; }

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'futura_bdcn_btbold';
  src: url("../fonts/futura_bold_font-webfont.woff2") format("woff2"), url("../fonts/futura_bold_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'futura_mdcn_btmedium';
  src: url("../fonts/futura_medium_condensed_bt-webfont.woff2") format("woff2"), url("../fonts/futura_medium_condensed_bt-webfot.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.form-body {
  padding: 20px; }
  .form-body label {
    color: #838383;
    font-weight: normal; }
  .form-body .form-control {
    height: 40px;
    min-height: 40px;
    box-shadow: none;
    line-height: normal;
    border-color: #d9d9d9; }
    .form-body .form-control:focus {
      border-color: rgba(5, 147, 173, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 147, 173, 0.6); }

.form-actions {
  text-align: center; }
  .form-actions .btn {
    min-width: 214px; }

.app-checkbox,
.app-radio {
  display: inline-block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.app-checkbox > input,
.app-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0); }

.app-checkbox > span,
.app-radio > span {
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  border: 1px solid transparent; }

.app-radio > span {
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important; }

.app-checkbox:hover > input:not([disabled]):checked ~ span,
.app-checkbox:hover > input:not([disabled]) ~ span,
.app-checkbox > input:checked ~ span,
.app-checkbox > input:focus ~ span,
.app-checkbox > span,
.app-checkbox:hover > input:not([disabled]):checked ~ span,
.app-checkbox:hover > input:not([disabled]) ~ span,
.app-checkbox > input:checked ~ span,
.app-checkbox > input:focus ~ span,
.app-checkbox > span,
.app-radio:hover > input:not([disabled]):checked ~ span,
.app-radio:hover > input:not([disabled]) ~ span,
.app-radio > input:checked ~ span,
.app-radio > input:focus ~ span,
.app-radio > span,
.app-radio:hover > input:not([disabled]):checked ~ span,
.app-radio:hover > input:not([disabled]) ~ span,
.app-radio > input:checked ~ span,
.app-radio > input:focus ~ span,
.app-radio > span {
  border: 1px solid #d9d9d9; }

/*hover css being*/
.app-checkbox > input:not([disabled]):checked ~ span,
.app-radio > input:not([disabled]):checked ~ span {
  border: 1px solid #4b8cfc !important;
  background: #4b8cfc !important; }

.app-checkbox > input:not([disabled]):checked ~ span:after {
  border-color: #fff; }

.app-radio > input:not([disabled]):checked ~ span:after {
  background: #fff; }

/*hover css end*/
.app-checkbox > input[disabled] ~ span,
.app-radio > input[disabled] ~ span {
  cursor: no-drop;
  background: #eee; }

.app-checkbox > span:after,
.app-radio > span:after {
  content: '';
  display: none;
  position: absolute; }

.app-checkbox > span:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid #888;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.app-radio > span:after {
  left: 4px;
  top: 4px;
  height: 6px;
  width: 6px;
  border-radius: 100% !important;
  background: #888; }

.input-icon > i, .app-checkbox-list .app-checkbox,
.app-checkbox-list .app-radio,
.app-checkbox > input:checked ~ span:after,
.app-radio-list .app-checkbox,
.app-radio-list .app-radio,
.app-radio > input:checked ~ span:after {
  display: block; }

.app-checkbox-inline,
.app-radio-inline {
  padding: 10px 0; }

.form-horizontal .form-group .app-checkbox-inline,
.form-horizontal .form-group .app-radio-inline {
  padding-top: 8px; }

.app-checkbox-inline .app-checkbox,
.app-checkbox-inline .app-radio,
.app-radio-inline .app-checkbox,
.app-radio-inline .app-radio {
  display: inline-block;
  margin-right: 15px; }

.app-checkbox-inline .app-checkbox:last-child,
.app-checkbox-inline .app-radio:last-child,
.app-radio-inline .app-checkbox:last-child,
.app-radio-inline .app-radio:last-child {
  margin-right: 0; }

.app-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 60px;
  padding: 0 20px;
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: #fff; }
  .app-header .app-logo {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .app-header .app-logo h2 {
      color: #fff; }

.app-contents {
  padding-top: 110px; }
  .app-contents .applet-container {
    max-width: 520px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12); }
    .app-contents .applet-container .applet-head {
      height: 50px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      -ms-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      background: #05496e; }
      .app-contents .applet-container .applet-head h2 {
        color: #fff;
        font-size: 20px; }
    .app-contents .applet-container .applet-body:not(.no) {
      padding: 20px 20px;
      background: #fff; }
    .app-contents .applet-container .applet-body h3.title1 {
      font-size: 16px;
      text-align: center; }
    .app-contents .applet-container .applet-body .gutter-info .box {
      height: 40px;
      padding: 0 20px;
      cursor: pointer;
      margin-bottom: 10px;
      color: #0669a0;
      border: 1px solid #ccc;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      .app-contents .applet-container .applet-body .gutter-info .box.active {
        color: #fff;
        background: #0669a0; }
      .app-contents .applet-container .applet-body .gutter-info .box p {
        margin: 0; }
    .app-contents .applet-container .applet-foot {
      height: 122px;
      border-top: 1px solid #ebeff1;
      background: #f9fdff;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      .app-contents .applet-container .applet-foot.column {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
      .app-contents .applet-container .applet-foot .btn {
        min-width: 214px; }
      .app-contents .applet-container .applet-foot p.or {
        line-height: normal; }

.app-footer {
  height: 72px;
  font-size: 14px;
  color: #fff;
  background: #393939;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .app-footer p {
    margin: 0; }

/*# sourceMappingURL=app.css.map */
