.form-body{
  padding: 20px;
  label{
    color: $secondary-font-color;
    font-weight: normal;
  }
  .form-control{
    height: 40px;
    min-height: 40px;
    box-shadow: none;
    line-height: normal;
    border-color: $is-border-color;
    &:focus{
      border-color: $is-focus-border-color;
      box-shadow: $is-focus-shadow;
    }
  } 
}

.form-actions{
  text-align: center;
  .btn{
    min-width: $btn-width;
  }  
}