# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/1.11/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'r)%%wous1btbi8mlpdys^#fch@qhgjw#o3ir@!i_u8(n$#13^o'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['*']

DEFAULT_FROM_EMAIL = 'Solvecore<support@solvecore.com>'
SERVER_EMAIL = "support@solvecore.com"
ATOMIC_REQUESTS = True

API_ROOT = DEBUG # enable root api view

SITE_URL = 'http://www.example.com/'
APP_LOGO = ''

TOKEN_VALIDITY = 1800


###################### Database Configurations ######################
# Database
# https://docs.djangoproject.com/en/1.11/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'tmp/db/dev.sqlite3'),
    },
    # 'default': {
    #     'ENGINE': 'django.db.backends.postgresql_psycopg2',
    #     'NAME': 'solvecore_prod',
    #     'USER': 'solvecore',
    #     'PASSWORD': 'solvecore@123',
    #     'HOST' : 'localhost',
    #     'PORT' : '5432',
    # }
}


###################### DRF Configurations ######################
REST_FRAMEWORK = {
    'DEFAULT_RENDERER_CLASSES': (
        'rest_framework.renderers.JSONRenderer',
        'rest_framework.renderers.BrowsableAPIRenderer',
        # 'rest_framework.renderers.AdminRenderer',
    ),
    'DEFAULT_AUTHENTICATION_CLASSES': (
        'rest_framework.authentication.TokenAuthentication',
        'rest_framework.authentication.SessionAuthentication',
        'rest_framework.authentication.BasicAuthentication',
    ),
    'DEFAULT_FILTER_BACKENDS': (
        'django_filters.rest_framework.DjangoFilterBackend',
        'rest_framework.filters.SearchFilter',
        'rest_framework.filters.OrderingFilter',
    ),
    'DEFAULT_VERSIONING_CLASS': 'rest_framework.versioning.NamespaceVersioning',
    'DEFAULT_VERSION': 'v1',
    'ALLOWED_VERSIONS': ('v1', 'v2'),
    'DEFAULT_PAGINATION_CLASS': 'solvecore.pagination.StandardResultsPageNumberPagination',
    'EXCEPTION_HANDLER': 'solvecore.exceptions.custom_exception_handler',
}


###################### Static/Media Configurations ######################
# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.11/howto/static-files/

STATIC_URL = '/static/'
STATIC_ROOT = os.path.join(BASE_DIR, 'static')
STATICFILES_DIRS = [
    os.path.join(BASE_DIR, "solvecore/static"),
    #'/var/project/static/',
]

MEDIA_URL = '/media/'
MEDIA_ROOT = os.path.join(BASE_DIR, 'media')

###################### SMTP Configurations #######################
# EMAIL_HOST = 'xxxx.xxxx.xxxx'
# EMAIL_HOST_USER = 'xxxx'
# EMAIL_HOST_PASSWORD = 'xx.xxxxx.xxxxx'
# EMAIL_PORT = 587    # 25, 587 (for unencrypted/TLS connections)
                    # # 465 (for SSL connections)
# EMAIL_USE_TLS = True


####################### PUSH Notification Configurations #######################
FCM_DJANGO_SETTINGS = {
    "FCM_SERVER_KEY": "[your api key]",
     # true if you want to have only one active device per registered user at a time
     # default: False
    "ONE_DEVICE_PER_USER": False,
     # devices to which notifications cannot be sent,
     # are deleted upon receiving error response from FCM
     # default: False
    "DELETE_INACTIVE_DEVICES": False,
}


###################### Logging Configurations ########################
PY_LOGGING = DEBUG  # True/False
ADMINS = (('Admin', 'admin@solecore.com'),)

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_true': {
            '()': 'django.utils.log.RequireDebugTrue'
        },
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse',
        }
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': [
                'require_debug_false',
                # 'require_debug_true'
            ],
            'class': 'django.utils.log.AdminEmailHandler'
        }
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins'],
            'level': 'ERROR',
            'propagate': True
        }
    }
}
